<div class="container">
  <div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="ui-block">
        <div class="ui-block-title inline-items">
          <div class="btn btn-control btn-control-small bg-yellow">
            <svg class="olymp-trophy-icon">
              <use xlink:href="svg-icons/sprites/icons.svg#olymp-trophy-icon"></use>
            </svg>
          </div>
          <h6 class="title">Trip name : {{trip?.titre}}</h6>
          <a href="#" class="more">
            <svg class="olymp-three-dots-icon">
              <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
            </svg>
          </a>
        </div>


      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="ui-block">


        <article class="hentry post searches-item">

          <div class="post__author author vcard inline-items">
            <img [src]="trip?.traveller.imageUrl" alt="author">

            <div class="author-date">
              <a class="h6 post__author-name fn" href="02-ProfilePage.html">{{trip?.traveller.name}}</a>
              <div class="country"> {{trip?.createdDate | timeAgo}}</div>
            </div>

            <span class="notification-icon">
								<a href="#" class="accept-request">
									<span class="icon-add without-text">
										<svg class="olymp-happy-face-icon"><use
                      xlink:href="../assets/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
									</span>
								</a>

								<a href="#" class="accept-request chat-message">
									<svg class="olymp-chat---messages-icon"><use
                    xlink:href="../assets/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
								</a>
							</span>

            <div class="more">
              <svg class="olymp-three-dots-icon">
                <use xlink:href="../assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
              </svg>
              <ul class="more-dropdown">
                <li>
                  <a href="#">Edit Post</a>
                </li>
                <li>
                  <a href="#">Delete Post</a>
                </li>
                <li>
                  <a href="#">Turn Off Notifications</a>
                </li>
                <li>
                  <a href="#">Select as Featured</a>
                </li>
              </ul>
            </div>

          </div>
        </article>


        <ng-container *ngFor="let trip_day of trip?.trip_days; let i = index;">
          <div class="today-events calendar">


            <div class="today-events-thumb">
              <div class="date">
                <div class="day-week">Day</div>
                <div class="day-number">{{trip_day?.dayNumber}}</div>
                <div class="month-year">{{trip_day?.date}}</div>
              </div>

            </div>


            <div class="list">
              <div class="control-block-button">
                <a href="#" (click)="onOpenPostModalClick(trip_day)" class="btn btn-control bg-breez"
                   data-toggle="modal" data-target="#create-event">
                  <svg class="olymp-plus-icon">
                    <use xlink:href="../assets/svg-icons/sprites/icons.svg#olymp-plus-icon"></use>
                  </svg>
                </a>

              </div>


              <div [id]="'accordionDay'+i" role="tablist" aria-multiselectable="true" class="day-event" data-month="12"
                   data-day="2">
                <ng-container *ngFor="let post of trip_day.posts ;let j= index; " >
                  <div class="card">
                    <div class="card-header" role="tab" id="headingOne-1">
                      <div class="event-time">
                        <time datetime="2004-07-24T18:18">{{post.time}}</time>
                        <div class="more">
                          <svg class="olymp-three-dots-icon">
                            <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                          </svg>
                        </div>
                      </div>
                      <h5 class="mb-0 title">
                        <a data-toggle="collapse" data-parent="#accordionDay" [href]="'#collapseOne'+i+'_'+j"
                           aria-expanded="false"
                           aria-controls="collapseOne" class="collapsed">
                          {{post.titre}}
                          <svg class="svg-inline--fa fa-angle-down fa-w-10" aria-hidden="true" data-prefix="fa"
                               data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg"
                               viewBox="0 0 320 512"
                               data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path>
                          </svg><!-- <i class="fa fa-angle-down" aria-hidden="true"></i> -->
                          <span class="event-status-icon" data-toggle="modal" data-target="#public-event">
																				<svg class="olymp-calendar-icon" data-toggle="tooltip" data-placement="top"
                                             data-original-title="UNCOMPLETED"><use
                                          xlink:href="../assets/svg-icons/sprites/icons.svg#olymp-calendar-icon"></use></svg>
																			</span>
                        </a>
                      </h5>
                    </div>


                    <div [id]="'collapseOne'+i+'_'+j" role="tabpanel" class="collapse" aria-labelledby="headingOne"
                         style="">
                      <div class="card-body">
                        <app-post [post]="post"></app-post>


                      </div>
                      <div class="place inline-items">


                        <a href="#" class="btn btn-control">
                          <svg class="olymp-like-post-icon">
                            <use xlink:href="../assets/svg-icons/sprites/icons.svg#olymp-like-post-icon"></use>
                          </svg>
                        </a>

                        <a href="#" class="btn btn-control">
                          <svg class="olymp-comments-post-icon">
                            <use xlink:href="../assets/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                          </svg>
                        </a>
                      </div>

                    </div>


                  </div>

                </ng-container>

              </div>
            </div>


          </div>

        </ng-container>


      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="create-event" tabindex="-1" role="dialog" aria-labelledby="create-event" aria-hidden="true">
  <div class="modal-dialog window-popup create-event" role="document">
    <div class="modal-content">
      <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
        <svg class="olymp-close-icon">
          <use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use>
        </svg>
      </a>
      <div class="modal-header">
        <h6 class="title">Add a post</h6>
      </div>

      <div class="modal-body">


        <div class="form-group label-floating">
          <label class="control-label">Post Title</label>
          <input class="form-control" placeholder="" value="" type="text" name="titre" [(ngModel)]="post.titre">
        </div>

        <div class="form-group label-floating">
          <label class="control-label">Place</label>
          <input class="form-control" placeholder="" value="" type="text" name="titre" [(ngModel)]="post.place">
        </div>

        <div class="row">
          <div class="col col-lg-3 col-md-3 col-sm-12 col-12">
            <div class="form-group label-floating is-select">
              <label class="control-label">Time</label>
              <select class="selectpicker form-control" [(ngModel)]="time">
                <option value="00:00">0:00</option>
                <option value="01:00">1:00</option>
                <option value="02:00">2:00</option>
                <option value="03:00">3:00</option>
                <option value="04:00">4:00</option>
                <option value="05:00">5:00</option>
                <option value="06:00">6:00</option>
                <option value="07:00">7:00</option>
                <option value="08:00">8:00</option>
                <option value="09:00">9:00</option>
                <option value="10:00">10:00</option>
                <option value="11:00">11:00</option>
              </select>
            </div>
          </div>
          <div class="col col-lg-3 col-md-3 col-sm-12 col-12">
            <div class="form-group label-floating is-select">
              <label class="control-label">AM-PM</label>
              <select class="selectpicker form-control" [(ngModel)]="am_pm">
                <option value="AM">AM</option>
                <option value="PM">PM</option>
              </select>
            </div>
          </div>


          <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="form-group label-floating ">
              <label class="control-label">Day</label>
              <input class="form-control" disabled placeholder="" [(ngModel)]="post.day" name="day" type="text">
            </div>
          </div>

        </div>

        <div class="form-group file-uploader">
          <div class="file-loading">
            <input class=" file-input-post" multiple="multiple" type="file"  name="files" data-theme="explorer-fas">
          </div>
          <br>

        </div>

        <div class="form-group label-floating">
          <label class="control-label">Post Description</label>
          <textarea class="form-control" [(ngModel)]="post.description" name="description" placeholder="">
					</textarea>
        </div>


        <button class="btn btn-breez btn-lg full-width" (click)="onAddPostClick()">Add post</button>

      </div>
    </div>
  </div>
</div>
