<div class="post__author author vcard inline-items">
  <img [src]="post.postMaker.imageUrl" alt="author">
  <div class="author-date">
    <a class="h6 post__author-name fn" href="#">{{post.postMaker.name}}</a>
    <div class="post__date">
      <time class="published">

        {{post.place}}    </time>
    </div>
  </div>
  <div class="more">
    <svg class="olymp-three-dots-icon">
      <use xlink:href="../assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
    </svg>
    <ul class="more-dropdown">
      <li>
        <a href="javascript:" (click)="onClickEditPost()">Edit Post</a>
      </li>
      <li>
        <a href="javascript:" (click)="onDeletePostClick(post.id)">Delete Post</a>
      </li>

    </ul>
  </div>

</div>


<ng-container *ngIf="editMode">
  <form class="form-group label-floating">
    <label class="control-label">Title</label>
    <input class="form-control" type="text" [value]="post.titre" [(ngModel)]="post.titre" name="titre">
    <span class="material-input"></span></form>

  <form class="form-group label-floating">
    <label class="control-label">Description</label>
    <input class="form-control" type="text" [value]="post.description" name="description"
           [(ngModel)]="post.description">
    <span class="material-input"></span></form>

  <div class="align-right">

    <a class="btn btn-md-2 btn-border-think custom-color c-grey" (click)="editMode=false">Cancel</a>

    <a class="btn btn-primary btn-md-2">Save Post changes</a>

  </div>
</ng-container>


<p *ngIf="!editMode">{{post.description}}</p>


<div class="post-block-photo js-zoom-gallery">
  <a *ngFor="let photo of post.imageUrls" [href]="photo" class="col col-3-width"><img [src]="photo" alt="photo"></a>

</div>


<ul class="comments-list" *ngIf="!editMode">
  <p *ngIf="!post.comments || post.comments.length==0"> Still no comments on this post.</p>


  <li class="comment-item" *ngFor="let comment of post.comments">
    <div class="post__author author vcard inline-items">
      <img [src]="comment.commentor.imageUrl" alt="author">

      <div class="author-date">
        <a class="h6 post__author-name fn" href="02-ProfilePage.html">{{comment.commentor.name}}</a>
        <div class="post__date">
          <time class="published">
            {{comment.createdDate | timeAgo}}
          </time>
        </div>
      </div>

      <a href="#" class="more">
        <svg class="olymp-three-dots-icon">
          <use xlink:href="../assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
        </svg>

        <ul class="more-dropdown">
          <li>
            <a>Edit Comment</a>
          </li>
          <li>
            <a href>Delete Comment</a>
          </li>

        </ul>
      </a>


    </div>

    <p>{{comment.content}}</p>

    <a class="post-add-icon inline-items">
      <svg class="olymp-heart-icon">
        <use xlink:href="../assets/svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
      </svg>
      <span>0</span>
    </a>
  </li>
</ul>

<!-- ... end Comments -->


<!-- Comment Form  -->
<form class="comment-form inline-items" *ngIf="!editMode" (ngSubmit)="onCommentSubmit()">

  <div class="post__author author vcard inline-items">
    <img [src]="user.imageUrl" alt="author">

    <div class="form-group with-icon-right ">
      <input class="form-control" placeholder="Write your comment here ..." name="comment"
             [(ngModel)]="comment.content">
      <div class="add-options-message">
        <a href="#" class="options-message" data-toggle="modal" data-target="#update-header-photo">
          <svg class="olymp-camera-icon">
            <use xlink:href="../assets/svg-icons/sprites/icons.svg#olymp-camera-icon"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>


</form>







