<!-- Top Header-Profile -->

<div class="container">
  <div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="ui-block">
        <div class="top-header">
          <div class="top-header-thumb">
            <img src="../assets/img/top-header1.jpg" alt="nature">
          </div>
          <div class="profile-section">
            <div class="row">
              <div class="col col-lg-5 col-md-5 col-sm-12 col-12">
                <ul class="profile-menu">
                  <li>
                    <a href="02-ProfilePage.html" class="active">Timeline</a>
                  </li>
                  <li>
                    <a href="05-ProfilePage-About.html">About</a>
                  </li>
                  <li>
                    <a href="06-ProfilePage.html">Friends</a>
                  </li>
                </ul>
              </div>
              <div class="col col-lg-5 ml-auto col-md-5 col-sm-12 col-12">
                <ul class="profile-menu">
                  <li>
                    <a href="07-ProfilePage-Photos.html">Photos</a>
                  </li>
                  <li>
                    <a href="09-ProfilePage-Videos.html">Videos</a>
                  </li>
                  <li>
                    <div class="more">
                      <svg class="olymp-three-dots-icon">
                        <use xlink:href="../assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                      </svg>
                      <ul class="more-dropdown more-with-triangle">
                        <li>
                          <a href="#">Report Profile</a>
                        </li>
                        <li>
                          <a href="#">Block Profile</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <div class="control-block-button">
              <a href="35-YourAccount-FriendsRequests.html" class="btn btn-control bg-blue">
                <svg class="olymp-happy-face-icon">
                  <use xlink:href="../assets/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                </svg>
              </a>

              <a href="#" class="btn btn-control bg-purple">
                <svg class="olymp-chat---messages-icon">
                  <use xlink:href="../assets/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use>
                </svg>
              </a>

              <div class="btn btn-control bg-primary more">
                <svg class="olymp-settings-icon">
                  <use xlink:href="../assets/svg-icons/sprites/icons.svg#olymp-settings-icon"></use>
                </svg>

                <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                  <li>
                    <a href="#" data-toggle="modal" data-target="#update-header-photo">Update Profile Photo</a>
                  </li>
                  <li>
                    <a href="#" data-toggle="modal" data-target="#update-header-photo">Update Header Photo</a>
                  </li>
                  <li>
                    <a href="29-YourAccount-AccountSettings.html">Account Settings</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="top-header-author">
            <div class="js-zoom-gallery">
            <a  [href]="user.imageUrl" class="author-thumb">
              <img [src]="user.imageUrl" alt="author" style="height: 124px; width: 124px">
            </a>
            </div>

            <div class="author-content">
              <a href="02-ProfilePage.html" class="h4 author-name">{{user.name}}</a>
              <div class="country">San Francisco, CA</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ... end Top Header-Profile -->

<div class="container">
  <div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="ui-block responsive-flex">
        <div class="ui-block-title">
          <div class="h6 title">{{user.name}}'s trips</div>

          <div class="block-btn align-right">
            <a href="#" data-toggle="modal" data-target="#add-trip" class="btn btn-primary btn-md-2">Add a trip +</a>

            <a href="#" data-toggle="modal" data-target="#update-header-photo"
               class="btn btn-md-2 btn-border-think custom-color c-grey">Add Photos</a>
          </div>

          <ul class="nav nav-tabs photo-gallery" role="tablist">
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#photo-page" role="tab">
                <svg class="olymp-photos-icon">
                  <use xlink:href="../assets/svg-icons/sprites/icons.svg#olymp-photos-icon"></use>
                </svg>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#album-page" role="tab">
                <svg class="olymp-albums-icon">
                  <use xlink:href="../assets/svg-icons/sprites/icons.svg#olymp-albums-icon"></use>
                </svg>
              </a>
            </li>

          </ul>
          <a href="#" class="more">
            <svg class="olymp-three-dots-icon">
              <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-trip-list></app-trip-list>
